* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #3700B3;
	outline-style: none;
}

#lock {
    background-image: image(url("icons/light/lock.png"));
}

#logout {
    background-image: image(url("icons/light/logout.png"));
}

#suspend {
    background-image: image(url("icons/light/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/light/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/light/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/light/reboot.png"));
}