/* style1.css */
window {
    background-color: rgba(30, 30, 46, 0.5);
}

button {
    background-color: #1e1e2e;
    color: #cdd6f4;
    border: 2px solid #89b4fa;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

button:focus, button:hover {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#shutdown {
    background-image: image(url("/home/kamal/.config/rofi/images/a.png"));
}
#reboot {
    background-image: image(url("/home/kamal/.config/rofi/images/b.png"));
}
#suspend {
    background-image: image(url("/home/kamal/.config/rofi/images/c.png"));
}
#hibernate {
    background-image: image(url("/home/kamal/.config/rofi/images/d.png"));
}
#logout {
    background-image: image(url("/home/kamal/.config/rofi/images/e.jpg"));
}
#lock {
    background-image: image(url("/home/kamal/.config/rofi/images/f.png"));
}